# ====================
# Системные временные файлы
# ====================
.DS_Store
Thumbs.db

# ====================
# IDE и окружения
# ====================
.vscode/
.idea/
.env
.venv/
*.code-workspace

# ====================
# Python и Jupyter временные
# ====================
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# ====================
# Логи
# ====================
*.log

# ====================
# Исключения по маске (если появятся приватные данные)
# ====================
# data/private_*.csv
# *_draft.ipynb

